<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Travel Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCebifdV4FaRD01lf61PoEXZ8v-icy4PD4&libraries=places&callback=initAutocomplete"async defer></script>
    <script src="{% static 'trips/js/suggestions.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'trips/css/main.css' %}">
  </head>

  <body>
    <nav>
      <a href="/logout">Logout</a>
      <a href="/profile">Home</a>
      <p>Hello, {{user_signed_in.first_name}}!</p>
    </nav>
    <div class=background>
      <div class="container">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.error %} class="{{ message.error }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        <a href="/trips/plan/{{trip.id}}" class="back-link">Back to Trip</a>

        <div class="user-status-box">
            <h2>Attending</h2>
            {% for user in attended_by %}
            <p>{{user.first_name}} {{user.last_name}}</p>
            {% endfor %}
        </div>

        <div class="user-status-box">
          <h2>Invited</h2>
          {% for user in invited%}
          <p>{{user.first_name}} {{user.last_name}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
