{% for agenda in allagendas %}
<div id="day{{agenda.day}}" class="tabcontent after">
  {% for activity in agenda.activities.all %}
  <img id = "routebutton" class="route" src="../../static/trips/images/route2.png"> view route</img>
  <div class="activity" placeid = '{{activity.result}}' style = 'background-image: url(https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&maxheight=400&photoreference={{activity.imgref}}&key=AIzaSyCebifdV4FaRD01lf61PoEXZ8v-icy4PD4')><h2 class="text">{{activity.location}}</h2></div>
  {% endfor %}
  <a href="#">Add activity</a>
</div>
{% endfor %}
<script>
    var day
    $(document).ready(function(){
        $.ajax({
          url: '/returnDay',
          method: 'GET',
          success: function(response){
            day = response
            openAgenda(event, 'day'+day);
          }
        })
    })
</script>
