<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Travel Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'trips/css/main.css' %}">
    
  </head>
  <body class="background-trip">
    <nav>
      <a href="/logout">Logout</a>
      <a href="/profile">Home</a>
    </nav>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.error %} class="{{ message.error }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <h1 id="register-title">&#164; DREAM ON &#164;</h1>
    <div class="container">
      <div class="block register">
      <h2>Add a Trip</h2>
      <form action="/trips/new/process" method="POST">{%csrf_token%}
        <label>
          Trip Title:
          <input name="title" type="text">
        </label>
        <label>
          Description:
          <input name="description" type="text">
        </label>
        <label>
          From:
          <input name="date_from" type="date">
        </label>
        <label>
          To:
          <input name="date_to" type="date">
        </label>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Let's go places!</button>
        </div>
      </form>
      </div>
    </div>
  </body>
</html>
