<style>
    #stuff{
        width:100%;
        text-align:center
    }
    .reviewimage{
        height:40px;
    }
    .myslides{
        height:300px;
    }
    .thisplaceimage{
        height:300px;
    }
    .review{
        width:80%;
        margin-left:60px;
        margin-bottom:60px;
    }
</style>
<div id = "stuff">
    <h1 id = "placeheader"></h1>
    <div class = "myslides"></div>
    <div id = "placeaddress"></div>
</div>
<div id = "reviews"></div>

<script>
    var api = 'AIzaSyCebifdV4FaRD01lf61PoEXZ8v-icy4PD4'
    var imgsrcs = []
    var count = 0
    var test
    var reviews
    $.get("https://maps.googleapis.com/maps/api/place/details/json?placeid={{id}}&key=" + api, function(res){
        test = res
        var address = res.result.formatted_address
        var imgref = res.result.photos
        for(var i = 0; i<imgref.length; i++){
            imgsrcs.push("https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&maxheight=400&photoreference="+ imgref[i].photo_reference +"&key="+ api)
        }
        $('#placeheader').html(test.result.name )
        $('.myslides').append("<img class = 'thisplaceimage' src = " + imgsrcs[0] +">")
        $('#placeaddress').append('<p>' + res.result.formatted_address + '</p>')
        reviews = res.result.reviews
        for(var i = 0; i<reviews.length; i++){
            $('#reviews').append("<div class = 'review'><p><img class = 'reviewimage' src = "+ reviews[i].profile_photo_url +">Author Name:  <a href="+reviews[i].author_url+">"+reviews[i].author_name + "</a></p><p>Rating: "+ reviews[i].rating +"</p><p>"+reviews[i].text+"</div>")
        }
    })

    $('.displayinfo').on('click','.thisplaceimage',function(){
        count++
        if(count > imgsrcs.length){
            count = 0
        }
        $('.thisplaceimage').attr('src', imgsrcs[count])
    })
</script>
