<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <title>Travel Dashboard</title>
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCebifdV4FaRD01lf61PoEXZ8v-icy4PD4&libraries=places&callback=initAutocomplete"async defer></script>
  <script src="{% static 'trips/js/suggestions.js' %}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'trips/css/main.css' %}">
</head>

<body class="background-agenda">
  <div class = "displayinfo"></div>
  <nav>
    <a href="/logout">Logout</a>
    <a href="/profile">Home</a>
    <p>Hello, {{user.first_name}}!</p>
  </nav>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.error %} class="{{ message.error }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="container">
    <h3 id="trip-title">{{trip.title}}</h3>

    <div class="map-buddies">
        <button id = "mapbutton" class="btn btn-primary">map</button>
        <a href="/trips/plan/{{trip.id}}/add_travelbuddy">Travel Buddies</a>
    </div>

    <main>
      <h2>Agenda</h2>
      <!-- Tab links -->
      <div class="tab">
        <button class="tablinks" onclick="openAgenda(event, 'day1')" id="defaultOpen">Day 1</button>
        {% for agenda in agendas%}
          <button class="tablinks" onclick="openAgenda(event, 'day{{agenda.day}}')">Day {{agenda.day}}</button>
        {% endfor %}
        <div class="text-right">
          <button id="add-button" class="btn btn-dark">Add</button>
        </div>
      </div>

      <!-- Tab content -->
      <div class="tabcontents">
        {% for agenda in allagendas %}
        <div id="day{{agenda.day}}" class="tabcontent after">
          {% for activity in agenda.activities.all %}
          <img id = "routebutton" class="route" src="../../static/trips/images/route2.png"> view route</img>
          <div class="activity" placeid = '{{activity.result}}' style = 'background-image: url(https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&maxheight=400&photoreference={{activity.imgref}}&key=AIzaSyCebifdV4FaRD01lf61PoEXZ8v-icy4PD4')><h2 class="text">{{activity.location}}</h2></div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </main><section class="proposed-section">
      <div>
        <h2>Proposed</h2>
        <div class = "proposed">
          {% for activity in suggestions %}
          <div class = 'places' style = 'background-image: url(https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&maxheight=400&photoreference={{activity.imgref}}&key=AIzaSyCebifdV4FaRD01lf61PoEXZ8v-icy4PD4)' placeid = "{{activity.result}}" >
            <h2>{{activity.location}}</h2>
          </div>
          <form>
            {% csrf_token %}
            <input type = 'hidden' name = 'id' value = {{activity.id}}>
            <div class="text-right">
              <button class = 'agendaadd btn btn-dark'>add to agenda</button>
            </div>
          </form>
          {% endfor %}
        </div>
      </div>

      <div>
        <h2>Suggestions</h2>
        <input id = "pac-input" type = "text" placeholder="Type a destination">
        <button id = "searchbutton" class= "btn waves-effect waves-light">Find Suggestions!</button>
        <div id="map"></div>
        <div class = "loc"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCebifdV4FaRD01lf61PoEXZ8v-icy4PD4&libraries=places&callback=initAutocomplete"async defer></script>
      </div>
    </section>
  </div>

  <script>
    // dynamically generate tab links and tab contents when 'add' button is clicked
    $(document).on('click', '#add-button', (function(){
      $.ajax({
        url: '/trips/plan/{{trip.id}}/agenda/new',
        success: function(serverResponse) {
          $('.tab').html(serverResponse)
          $.ajax({
            url: '/trips/plan/{{trip.id}}/agenda/new/content',
            success: function(serverResponse) {
              $('.tabcontents').html(serverResponse)
              $('#defaultOpen').click()
            }
          })
        }
      })
    }))

    function openAgenda(evt, day) {
      // Declare all variables
      var i, tabcontent, tablinks;
      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(day).style.display = "block";
      evt.currentTarget.className += " active";
      //set the session
      $.ajax({
        url:"/setdaysession/"+day,
        success: console.log("succesfully day session")
      })
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
  </script>
</body>
</html>
